.cloth-detail {
    display: flex;
    gap: 30px;
    margin-left: 300px;
    padding-top: 150px;
}

.cloth-main-img {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cloth-main-img > img {
    width: 440px;
    height: 400px;
    object-fit: cover;
}

.cloth-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cloth-size > ul {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cloth-size > ul > li {
    list-style: none;
}

.cloth-price {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
}

.cloth-size > ul > li > button {
    height: 2.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    line-height: 2.4375rem;
    width: 100%;
    border-radius: 8px;
    font-weight: 400;
    border: none;
    background-color: #fff;
    border-color: #e1e0de;
    color: #000;
    cursor: pointer;
}

.cloth-size > ul > li > button.active {
    border-color: #fc0d1b;
    color: #fc0d1b;
    box-shadow: inset 0 0 0 1px #fc0d1b;
}
