.button {
    width: 250px;
    height: 48px;
    line-height: 46px;
    background-color: #fc0d1b;
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #f00010;
}
.big {
    font-size: 20px;
    padding: 0 30px;
}

.small {
    font-size: 12px;
    background-color: #261919;
    color: #ffffff;
}
