.product-detail {
    display: flex;
    gap: 30px;
    margin-left: 300px;
    padding-top: 150px;
}

.main-img > img {
    width: 440px;
    height: 400px;
    object-fit: cover;
}

.product-images {
    display: flex;
    gap: 10px;
    max-width: 500px;
}

.product-images > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.select {
    display: block;
    max-width: 150px;
    width: 100%;
    padding: 5px;
    position: relative;
}

.product-price {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
}

.product-accordions {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-accordion {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #757575;
    border-top: 1px solid #757575;
    cursor: pointer;
    list-style: none;
    max-width: 600px;
}

.accordion-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-collapse {
    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}

.accordion-collapse.active {
    height: auto;
}

.accordion-body {
    margin-top: 20px;
}

.product-size > ul {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-size > ul > li {
    list-style: none;
}

.product-size > ul > li > button {
    height: 2.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    line-height: 2.4375rem;
    width: 100%;
    border-radius: 8px;
    font-weight: 400;
    border: none;
    background-color: #fff;
    border-color: #e1e0de;
    color: #000;
    cursor: pointer;
}

.product-size > ul > li > button.active {
    border-color: #fc0d1b;
    color: #fc0d1b;
    box-shadow: inset 0 0 0 1px #fc0d1b;
}
