.input {
    width: 100%;
    height: 3rem;
    padding: 0.875rem 1.25rem;
    margin: 0;
    border: 0;
    border-radius: 0.25rem;
    box-sizing: border-box;
    background: 0;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: #000;
    font: inherit;
    -webkit-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
