.layouts-content {
    position: fixed;
    left: 0;
    z-index: 1000;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
    margin-left: 20px;
}

.content {
    margin-left: 150px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    margin-top: 50px;
}

.profile > img {
    width: 80px;
    height: 80px;
}

.profile > p {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-top: 15px;
}

.profile > span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #9ea1b1;
}

.links-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 70px;
}

.links {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.active {
    color: red;
}

.exit {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exit > a {
    text-decoration: none;
}

.exit > a > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.exit > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.items-count {
    background-color: red;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    right: 155px;
    top: -10px;
    border-radius: 20px;
}
